<h1>월별 계획 자료 생성</h1>
<% if (kindOfDoc == 'C') { %>
<form action="/calendar/create_process" method="post">
<% } else { %>
<form action="/calendar/update_process/<%=pId%>" method="post">
<% } %>

<p>월을 입력하세요:</p>
<p><input type="text" name="title" value="<%=title%>" style="width: 400px; border-color: antiquewhite;" placeholder="title"></p>
<br/>
<p>계획을 입력하세요:</p>
<p><textarea name="description" placeholder="description" cols="60" style="border-color: antiquewhite;"><%=description%></textarea></p>
<p><input type="submit"></p>
</form>